<!-- Main hero unit -->
<div class="hero-unit">
	<h1>Tennis Math</h1>
	<p>
		Tennis Math is a free tennis scoring and statistics tracker app for Android. We have designed it for tennis
		players, coaches, parents or anyone interested in analyzing of the strong and weak points of their tennis.
		<br/>
		With only few inputs you get professional tennis stats, just like in TV!
	</p>
	<p>
		<a class="btn btn-warning btn-large">Get Mobile App &raquo;</a>
	</p>
</div>

<!-- Row of columns -->
<div class="row">
	<div class="span4">
		<h2>Heading</h2>

		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
			condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
			euismod. Donec sed odio dui. </p>

		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Heading</h2>

		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
			condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
			euismod. Donec sed odio dui. </p>

		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Heading</h2>

		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
			porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
			fermentum massa justo sit amet risus.</p>

		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
</div>