<h2><%= rule.get('name') %></h2>
<h3>Rules</h3>
<table class="table table-bordered">
    <tr>
        <th>Best of sets</th>
        <td><%= rule.get('bestOfSets') %></td>
    </tr>
    <tr>
        <th>Deuce</th>
        <td><%= rule.get('deuce') %></td>
    </tr>
    <tr>
        <th>First to games</th>
        <td><%= rule.get('firstToGames') %></td>
    </tr>
    <tr>
        <th>Last set</th>
        <td><%= rule.get('lastSet') %></td>
    </tr>
    <tr>
        <th>Match type</th>
        <td><%= rule.get('matchType') %></td>
    </tr>
    <tr>
        <th>Tie break</th>
        <td><%= rule.get('tieBreak') %></td>
    </tr>
    <tr>
        <th>Tie break points</th>
        <td><%= rule.get('tieBreakPoints') %></td>
    </tr>
    <tr>
        <th>Tie break service rotation</th>
        <td><%= rule.get('tieBreakServiceRotation') %></td>
    </tr>
</table>